body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: #F9DFC9;
    
}

a{
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    height: 70px;
    background-color: coral;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 100px;
    height: 90px;
    margin-right: 10px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
    font-size: 18px;
    
}

nav a:hover{
    color: white;
}

.imagenes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.inicio{
    width: 300px;
    padding: 10px;
    margin: 15px;
    text-align: center;
}

.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;


}









